APP_BASE_URL=http://localhost:3000
AUTH_CALLBACK_URL=http://localhost:3000/api/auth/callback
LIBERLAND_API_BASE_URL=https://dev.api.app.liberland.org/v1
LIBERLAND_CORE_BASE_URL=https://staging.api.liberland.org
MATRIX_BASE_URL=https://staging.matrix.liberland.org
CLIENT_API_KEY=
APP_VERSION=0.1.0
